* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*----Fonts----*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    @media (max-width: 1200px) {
        font-size: 80px;
    }
    @media (max-width: 992px) {
        font-size: 50px;
    }
    @media (max-width: 767px) {
        font-size: 40px;

    }
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    @media (max-width: 1200px) {
        font-size: 60px;
    }
    @media (max-width: 992px) {
        font-size: 60px;
    }
    @media (max-width: 767px) {
        font-size: 60px;

    }
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    @media (max-width: 1200px) {
        font-size: 30px;
    }
    @media (max-width: 992px) {
        font-size: 25px;
    }
    @media (max-width: 767px) {
        font-size: 20px;

    }
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
}

/* --BodyGradient---- */

body {
    background: #2b0167;
}

/*----Container-----*/

._container {
    max-width: 1800px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        max-width: 970px;
    }
    @media (max-width: 992px) {
        max-width: 750px;
    }
    @media (max-width: 767px) {
        max-width: none;
    }
}

._wrapper {
    padding: 25px;
}
/*--Header--*/

header {
    padding: 5px 25px 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
        max-width: none;
    }
}

.head-menu {
    height: 100%;
    display: flex;
    gap: 4em;
    align-items: center;

}

.header-left-block {
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 100;
}

/*----MainBlock---*/

.main-block {
    height: 900px;
    background-image: url("/JUST1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title h1 {
    color: white;
}
.main-image img {
    max-width: 200px;
    max-height: 200px;
}
/*-------*/

/*-------*/

/*-------*/

/*-------*/

/*-------*/

/*-------*/

